<div class="header d-flex flex-row justify-content-end align-items-center">
  <input
      class="date-picker me-3"
      type="text"
      placeholder="Daterangepicker"
      bsDaterangepicker
      [bsConfig]="{adaptivePosition: true, containerClass: 'theme-dark-blue'}"
      (bsValueChange)="onDatePickerValueChange($event)"
      [(ngModel)]="datePickerModel"
  >
  <app-icon class="me-3" src="assets/icons/erase.svg" (click)="resetDatePicker()"></app-icon>
</div>
