<!--<div class="d-flex flex-column">-->
<!--  <div>{{post.createdAt}}</div>-->
<!--  <div>{{post.description}}</div>-->
<!--  <app-image [src]="post.thumbnailUrl"></app-image>-->
<!--  <app-link [url]="post.url"></app-link>-->
<!--</div>-->
<div class="card">
  <img class="card-img-top bg-gray" [src]="post.thumbnailUrl">
  <div class="card-body">
    <h5 class="card-title">{{post.name}}</h5>
    <p class="card-text">{{post.description}}</p>
    <p class="card-text">Creation date: {{post.createdAt}}</p>
    <a href="{{post.url}}" class="btn btn-primary" target="_blank">go to Product Hunt</a>
  </div>
</div>
