<ng-container *ngIf="posts; else loader">
  <div class="row w-100 justify-content-center">
    <ng-container *ngFor="let post of posts">
      <app-post class="col-md-4 col-lg-3 col-xl-2 custom-card" [post]="post"></app-post>
    </ng-container>
  </div>
</ng-container>

<ng-template #loader>
  Loading...
</ng-template>
